<!DOCTYPE html>

<html>
  <head>
  <style>
table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}
</style>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirmation Details</h1>
    <p>
      Hello <%= @user.name %>, you have successfully booked your flight with Suazo Airlines! Here are your flight details:<br>
    </p>
<h2>Passenger Details</h2>
  <table style="width:50%">
    <tr>
      <th>Passenger Name</th>
      <td><%=@user.name %></td>
    </tr>
    <tr>
      <th>Passenger Email</th>
      <td><%=@user.email %></td>
    </tr>
    </table>

    <h2>Flight Details</h2>
    <table style="width:50%">
        <tr>
      <th>Booking ID</th>
      <td><%=@booking.id %></td>
    </tr>
    <tr>
      <th>Flight Number</th>
      <td><%=@flight.id %></td>
    </tr>
    <tr>
      <th>Flight Duration</th>
      <td><%=distance_of_time_in_words(@flight.flight_duration) %></td>
    </tr>
    <tr>
      <th>Departure Date</th>
      <td><%=@flight.start_date.strftime("%m / %d / %Y") %></td>
    </tr>
    <tr>
      <th>Departing</th>
      <td><%=@flight.from_airport.code %></td>
    </tr>
    <tr>
      <th>Arrival</th>
      <td><%=@flight.to_airport.code %></td>
    </tr>
  </table>

    <p>Thanks for flying with Suazo Airlines and have a great day!</p>

  </body>
</html>

