
<h1 style='text-align:center'>Search for a Flight!</h1>

<body><br><br>

  <%= form_with(url: '/flights', method: 'get', local: true) do %>

    <%= label_tag(:from_airport_id, 'From Airport:') %>
    <%= select_tag(:from_airport, options_for_select(@airport_options, params[:from_airport])) %> <br><br>

    <%= label_tag(:to_airport_id, 'To Airport:') %>
    <%= select_tag(:to_airport, options_for_select(@airport_options, params[:to_airport])) %> <br><br>

    <%= label_tag(:passengers, 'Number of Passengers:') %>
    <%= number_field_tag(:passengers, value = @default, in: 1..4) %> <br><br>

    <%= label_tag(:start_datetime, 'Date:') %>
    <%= date_field_tag(:start_date, Date.today) %> <br><br>

    <%= submit_tag("search") %>
  <% end %>

<br>
<br>
<br>

    <h1>Flight Details</h1>

      <table style='width:100%'>
      <tr>
        <th>Selection</th>
        <th>Flight ID</th>
        <th>From Airport</th>
        <th>To Airport</th>
        <th>Flight Date</th>
        <th>Flight Duration</th>
      </tr>
      

    <%= form_with(url: '/bookings/new', method: 'get') do %>

      
      <% @flights.each do |flight| %>
        <tr>
          <td style='text-align: center'><%= radio_button_tag(:flight_id, flight.id) %></td>
          <td style='text-align: center'><%= flight.id %></td>
          <td style='ztext-align: center'><%= flight.from_airport.code %></td>
          <td style='text-align: center'><%= flight.to_airport.code %></td>
          <td style='text-align: center'><%= flight.start_date.strftime('%m / %d / %Y')%></td>
          <td style='text-align: center'><%= distance_of_time_in_words(flight.flight_duration) %></td>
          
        </tr>
      <% end %>
    </table>
    <br><br>

    <%= hidden_field_tag(:passengers, params[:passengers]) %>
    <%= submit_tag('Book Flight!') %>
    <% end %>
</body>