<h1 style="text-align:center">Your Booking!</h1><br><br>

<h2>Flight Details</h2><br>

<table style="width:100%">
<tr>
  <th>Flight ID</th>
  <th>From Airport</th>
  <th>To Airport</th>
  <th>Flight Date</th>
  <th>Flight Duration</th>
</tr>

<tr>

<td style="text-align:center"><%= @flight.id %></td>
<td style="text-align:center"><%= @flight.from_airport.code %></td>
<td style="text-align:center"><%= @flight.to_airport.code %></td>
<td style="text-align:center"><%= @flight.start_date.strftime("%m / %d / %Y")%></td>
<td style="text-align:center"><%= distance_of_time_in_words(@flight.flight_duration) %></td>

</tr>

</table><br><br><br>

<h2>Passenger Details</h2><br>

<table style="width:75%">
<tr>
  <th>Name</th>
  <th>Email</th>
</tr>

<% @booking = Booking.find(params[:id].to_i) %>

<% @booking.passengers.each do |passenger| %>
    <tr>
    <td style="text-align:center"><%= passenger.name %></td>
    <td style="text-align:center"><%= passenger.email %></td>
    </tr>
<% end %>
</table>
